body{
    margin: 0;
}
.waldoContainer{
    display: grid;
    position: relative;
}

.photoCanvas{
    width: 100%;
    justify-self: center;
    position: relative;

    
}
.photoCanvas:hover{
    cursor: crosshair;
}
.targetContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}